<div class="pls-inflection-root">
  {% if has_inflection_table -%}
  <header class="pls-inflection-header">
    <summary>
      {% if pattern -%}
      <div class="pls-inflection-summary-word-info">{{ pali1 }} "{{ pattern }}" {{ like }}</div>
      {% else -%}
      <div class="pls-inflection-summary-word-info">{{ pali1 }} {{ like }}</div>
      {% endif -%}
      {% if with_details -%}
      <div class="pls-inflection-summary-definition">
        <span class="pls-inflection-summary-definition-pos">({{ pos }})</span> <span class="pls-inflection-summary-definition-meaning">{{ meaning }}</span>
      </div>
      {%- endif %}
    </summary>
  </header>
  {%- endif %}
{{ body }}
  {% if has_inflection_table -%}
  <footer class="pls-inflection-footer">
    <a class="pls-inflection-feedback-link" target="_blank" href="{{ feedback_form_url }}?entry.267696921={{ host_url }}&entry.1433863141={{ host_version }}">
      spot a mistake in the inflection table? something missing? fix it here!
    </a>
  </footer>
  {%- endif %}
</div>
