<div class="pls-inflection-root">
  <header class="pls-inflection-header">
    <summary>
      {% if pattern -%}
      <div class="pls-inflection-summary-word-info">{{ pali1 }} &ndash; "{{ pattern }}" ({{ like }})</div>
      {% else -%}
      <div class="pls-inflection-summary-word-info">{{ pali1 }} ({{ like }})</div>
      {% endif -%}
      <div class="pls-inflection-summary-definition">
        <span class="pls-inflection-summary-definition-pos">({{ pos }})</span> <span class="pls-inflection-summary-definition-meaning">{{ meaning }}</span>
      </div>
    </summary>
  </header>
{{ body }}
  <footer class="pls-inflection-footer">
    <a class="pls-inflection-feedback-link" target="_blank" href="{{ feedback_form_url }}?entry.267696921={{ host_url }}&entry.1433863141={{ host_version }}">
      spot a mistake? something missing? fix it here!
    </a>
  </footer>
</div>
