<table class="pls-inflection-table pls-inflection-type-declension">
  <thead>
    <tr>
      <td><span class="pls-inflection-table-title">{{ pattern }}</span></td>
      {% if g_values_exist.0 -%}
      <td colspan="2"><span class="pls-inflection-col-header">masculine</span></td>
      {% endif -%}
      {% if g_values_exist.1 -%}
      <td colspan="2"><span class="pls-inflection-col-header">feminine</span></td>
      {% endif -%}
      {% if g_values_exist.2 -%}
      <td colspan="2"><span class="pls-inflection-col-header">neuter</span></td>
      {% endif -%}
      {% if g_values_exist.3 -%}
      <td colspan="2"><span class="pls-inflection-col-header">x</span></td>
      {% endif -%}
    </tr>
    <tr>
      <td><span class="pls-inflection-row-header">case</span></td>
      {% if g_values_exist.0 -%}
      <td><span class="pls-inflection-col-header">sg</span></td>
      <td><span class="pls-inflection-col-header">pl</span></td>
      {% endif -%}
      {% if g_values_exist.1 -%}
      <td><span class="pls-inflection-col-header">sg</span></td>
      <td><span class="pls-inflection-col-header">pl</span></td>
      {% endif -%}
      {% if g_values_exist.2 -%}
      <td><span class="pls-inflection-col-header">sg</span></td>
      <td><span class="pls-inflection-col-header">pl</span></td>
      {% endif -%}
      {% if g_values_exist.3 -%}
      <td><span class="pls-inflection-col-header">sg</span></td>
      <td><span class="pls-inflection-col-header">pl</span></td>
      {% endif -%}
    </tr>
  </thead>
  <tbody>
    {% for view_model in view_models -%}
    <tr>
      <td>
        <span class="pls-inflection-row-header">{{ view_model.name }}</span>
      </td>
      {% if g_values_exist.0 -%}
      <td>
        {% for inflection in view_model.inflections_list.0 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.1 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      {% endif -%}
      {% if g_values_exist.1 -%}
      <td>
        {% for inflection in view_model.inflections_list.2 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.3 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      {% endif -%}
      {% if g_values_exist.2 -%}
      <td>
        {% for inflection in view_model.inflections_list.4 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.5 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      {% endif -%}
      {% if g_values_exist.3 -%}
      <td>
        {% for inflection in view_model.inflections_list.6 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.7 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      {% endif -%}
    </tr>
    {% endfor -%}

    <tr>
      <td><span class="pls-inflection-row-header">in comps</span></td>
      <td colspan="6">
        {% for inflection in in_comps_inflections -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
    </tr>
  </tbody>
</table>
