<table class="pls-inflection-table pls-inflection-type-declension">
  <thead>
    <tr>
      <td><span class="pls-inflection-table-title">{{ pattern }}</span></td>
      <td><span class="pls-inflection-col-header">{{ pron_type }} {{ abbrev_map["sg"] }}</span></td>
      <td><span class="pls-inflection-col-header">{{ pron_type }} {{ abbrev_map["pl"] }}</span></td>
    </tr>
  </thead>
  <tbody>
    {% for view_model in view_models -%}
    <tr>
      <td>
        <span class="pls-inflection-row-header">{{ abbrev_map[view_model.name] }}</span>
      </td>
      <td>
        {% for inflection in view_model.inflections_list.0 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.1 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
    </tr>
    {% endfor -%}

    <tr>
      <td><span class="pls-inflection-row-header">{{ abbrev_map["in comps"] }}</span></td>
      <td colspan="2">
        {% for inflection in in_comps_inflections -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
    </tr>
  </tbody>
</table>
