<table class="pls-inflection-table pls-inflection-type-conjugation">
  <thead>
    <tr>
      <td><span class="pls-inflection-table-title">{{ table_name }}</span></td>
      <td colspan="2"><span class="pls-inflection-col-header">masculine</span></td>
      <td colspan="2"><span class="pls-inflection-col-header">feminine</span></td>
      <td colspan="2"><span class="pls-inflection-col-header">neuter</span></td>
    </tr>
    <tr>
      <td><span class="pls-inflection-row-header">case</span></td>
      <td><span class="pls-inflection-col-header">sg</span></td>
      <td><span class="pls-inflection-col-header">pl</span></td>
      <td><span class="pls-inflection-col-header">sg</span></td>
      <td><span class="pls-inflection-col-header">pl</span></td>
      <td><span class="pls-inflection-col-header">sg</span></td>
      <td><span class="pls-inflection-col-header">pl</span></td>
    </tr>
  </thead>
  <tbody>
    {% for view_model in view_models -%}
    <tr>
      <td>
        <p><span class="pls-inflection-row-header">{{ view_model.name }}</span></p>
      </td>
      <td>
        {% for inflection in view_model.inflections_list.0 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.1 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.2 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.3 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.4 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for inflection in view_model.inflections_list.5 -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
    </tr>
    {% endfor -%}

    <tr>
      <td><span class="pls-inflection-row-header">in comps</span></td>
      <td colspan="6">
        {% for inflection in in_comps_inflections -%}
        {% if inflection -%}
        <div class="pls-inflection-inflected-word">{{ inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
    </tr>
  </tbody>
</table>
