<table class="pls-inflection-table pls-inflection-type-conjugation">
  <thead>
    <tr>
      <td><span class="pls-inflection-table-title">{{ table_name }}</span></td>
      <td><span class="pls-inflection-col-header">{{ pron_type }} sg</span></td>
      <td><span class="pls-inflection-col-header">{{ pron_type }} pl</span></td>
    </tr>
  </thead>
  <tbody>
    {% for view_model in view_models -%}
    <tr>
      <td>
        <p><span class="pls-inflection-row-header">{{ view_model.name }}</span></p>
      </td>
      <td>
        {% for stemmed_inflection in view_model.stemmed_inflections_list.0 -%}
        {% if stemmed_inflection -%}
        <div class="pls-inflection-inflected-word">{{ stemmed_inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
      <td>
        {% for stemmed_inflection in view_model.stemmed_inflections_list.1 -%}
        {% if stemmed_inflection -%}
        <div class="pls-inflection-inflected-word">{{ stemmed_inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
    </tr>
    {% endfor -%}

    <tr>
      <td><span class="pls-inflection-row-header">in comps</span></td>
      <td colspan="2">
        {% for stemmed_inflection in in_stemmed_comps_inflections -%}
        {% if stemmed_inflection -%}
        <div class="pls-inflection-inflected-word">{{ stemmed_inflection }}</div>
        {% endif -%}
        {% endfor -%}
      </td>
    </tr>
  </tbody>
</table>
