<table class="pls-inflection-table pls-inflection-type-conjugation">
  <thead>
    <tr>
        <td>pr</td>
        <td colspan="2">active</td>
        <td colspan="2">reflexive</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>person</td>
        <td>singular</td>
        <td>plural</td>
        <td>singular</td>
        <td>plural</td>
    </tr>
    <tr>
        <td>pr 3rd</td>
        <td>|0|</td>
        <td>|1|</td>
        <td>|2|</td>
        <td>|3|</td>
    </tr>
    <tr>
        <td>pr 2nd</td>
        <td>|4|</td>
        <td>|5|</td>
        <td>|6|</td>
        <td>|7|</td>
    </tr>
    <tr>
        <td>pr 1st</td>
        <td>|8|</td>
        <td>|9|</td>
        <td>|10|</td>
        <td>|11|</td>
    </tr>
    </tbody>
</table>
<br />
<table class="pls-inflection-table pls-inflection-type-conjugation">
    <thead>
    <tr>
        <td>imp</td>
        <td colspan="2">active</td>
        <td colspan="2">reflexive</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>person</td>
        <td>singular</td>
        <td>plural</td>
        <td>singular</td>
        <td>plural</td>
    </tr>
    <tr>
      <td>imp 3rd</td>
      <td>|12|</td>
      <td>|13|</td>
      <td>|14|</td>
      <td>|16|</td>
  </tr>
  <tr>
      <td>imp 2nd</td>
      <td>|16|</td>
      <td>|17|</td>
      <td>|18|</td>
      <td>|19|</td>
  </tr>
  <tr>
      <td>imp 1st</td>
      <td>|20|</td>
      <td>|21|</td>
      <td>|22|</td>
      <td>|23|</td>
  </tr>
  </tbody>
</table>
<br />
<table class="pls-inflection-table pls-inflection-type-conjugation">
    <thead>
    <tr>
        <td>opt</td>
        <td colspan="2">active</td>
        <td colspan="2">reflexive</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>person</td>
        <td>singular</td>
        <td>plural</td>
        <td>singular</td>
        <td>plural</td>
    </tr>
    <tr>
      <td>opt 3rd</td>
      <td>|24|</td>
      <td>|25|</td>
      <td>|26|</td>
      <td>|27|</td>
  </tr>
  <tr>
      <td>opt 2nd</td>
      <td>|28|</td>
      <td>|29|</td>
      <td>|30|</td>
      <td>|31|</td>
  </tr>
  <tr>
      <td>opt 1st</td>
      <td>|32|</td>
      <td>|33|</td>
      <td>|34|</td>
      <td>|35|</td>
  </tr>
  </tbody>
</table>
<br />
<table class="pls-inflection-table pls-inflection-type-conjugation">
    <thead>
    <tr>
        <td>fut</td>
        <td colspan="2">active</td>
        <td colspan="2">reflexive</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>person</td>
        <td>singular</td>
        <td>plural</td>
        <td>singular</td>
        <td>plural</td>
    </tr>
    <tr>
      <td>fut 3rd</td>
      <td>|36|</td>
      <td>|37|</td>
      <td>|38|</td>
      <td>|39|</td>
  </tr>
  <tr>
      <td>fut 2nd</td>
      <td>|40|</td>
      <td>|41|</td>
      <td>|42|</td>
      <td>|43|</td>
  </tr>
  <tr>
      <td>fut 1st</td>
      <td>|44|</td>
      <td>|45|</td>
      <td>|46|</td>
      <td>|47|</td>
  </tr>
  </tbody>
</table>
<br />